/* Инпуты */
.ant-input,
.ant-input-password,
.ant-input-number,
.ant-input-affix-wrapper {
  background-color: var(--input-background) !important;
  border-color: var(--input-border) !important;
  color: var(--foreground) !important;
}

.ant-input:hover,
.ant-input-password:hover,
.ant-input-number:hover,
.ant-input-affix-wrapper:hover {
  border-color: var(--primary) !important;
}

.ant-input:focus,
.ant-input-focused,
.ant-input-password:focus,
.ant-input-number:focus,
.ant-input-affix-wrapper-focused {
  border-color: var(--primary) !important;
  box-shadow: 0 0 0 2px var(--input-ring) !important;
}

.ant-input-password-icon,
.anticon {
  color: var(--foreground) !important;
}
